# Ignore all files in .vscode except those prefixed with !
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
# Ignore all folders named node_modules
node_modules/
# Ignore all files with the .log extension
*.log
# Ignore all files in the dist directory
dist/
# Ignore all files in the build directory
build/
# Ignore all files in the coverage directory
coverage/
# Ignore all files in the .env file
.env